{% extends "layout.html" %}
{% block content %}
<div>Tech links, tools, utilities</div>
<ul  class="list-unstyled">
{% for link, name in sites.items() %}
    <li><a href="{{link}}" target="_blank"> {{name}} </a> </li>
{% endfor %}
</ul>
<div></div>
<div><a href="https://reviewmeta.com/" target="_blank">ReviewMeta</a><br /></div>
<div><a href="https://www.fastpeoplesearch.com/" target="_blank">PeopleFind</a><br /></div>
<div><a href="https://www.google.com/advanced_search" target="_blank">Google Advanced Search</a><br /></div>
{% endblock %}